body {
  background-color: #000000;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fdee30;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.button {
  border: none;
  display: block;
  font-family: 'Libre Baskerville', sans-serif;
  list-style-type: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdee30;
  color: #000000;
  width: 250px;
  text-decoration: none;
  padding: 30px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover {
  color: #000000;
  background-color:white;
}

.pokemon-list {
  list-style: none;
  text-align: center;
  padding: 10px;
} 
}