body {
  background-color: #000000;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fdee30;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center
}
.navbar {
  margin-top: 30px;
}

.button {
  border: none;
  display: block;
  font-family: 'Libre Baskerville', sans-serif;
  list-style-type: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background-color: #fdee30;
  color: #000000;
  width: 250px;
  text-decoration: none;
  padding: 30px;
  border-radius: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover {
  color: #000000;
  background-color:white;
}
.pokemon-list {
  list-style: none;
  text-align: center;
  padding: 11px;
  overflow: hidden;
  display: block;
  border: 6px double yellow;
  width: 58.5rem;
  height: 460rem;
}

  .pokemon-list li {
    margin: 1rem;
  }

  .pok-item {
    width: 10rem;
    height: 10rem;
    display: inline-flex;
    margin: 2px;
    }
    

#modal-container.is-visible {
  display: block;
}  

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: none;
  text-align: center;
}

.modal-content {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fdee30;
  background: #000000;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #000000;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #000000;
  text-decoration: underline;
}

.modal.content h1 {
  margin-top: 0;
}

.modal.content p {
  margin-bottom: 0;
}
.page-container {
margin-top: 60px;
}
.btn-secondary {
  background-color: inherit;
  color:inherit;
}
   /* .search-bar{
     width:200px;
     border:2px solid #fdee30
    }
    .search-bar:hover{
      border:2px solid #fdee30

    }  */
     .btn-outline-success {
      background-color: #fdee30;
      color:#000000;
      border: #fdee30;
      transition: 0.2s opacity;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
    .btn-outline-success:hover {
      color: #000000;
      background-color:white;
    }
    /* .navbar .navbar-brand {} */
    .form-wrapper { margin-bottom: 2rem; 
      margin-top: 2rem; 
      float: right;
      /* margin: 2rem 0px 2rem 0px; margin: 2rem 0px; */ 
    }
    /* .btn-outline-success:not(:disabled):not(.disabled):active { background: yellow; } .btn-outline-success.focus, .btn-outline-success:focus { box-shadow: unset; } .btn-outline-success.focus, .btn-outline-success:focus, .btn-outline-success:hover { border: none; } */

