body {
  background-color: #000000;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fdee30;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
